<p>Xin chào {{name}}</p>
<p>Đơn hàng số {{id}} của bạn đã được cửa hàng xác nhận</p>
<p>--------------------</p><p></p>
<div>
    <b>Chi tiết đơn hàng:</b><br>
    <b>Mã sản phẩm: <i>{{product_id}}</i></b><br>
    <b>Tên sản phẩm: <i>{{product_name}}</i></b><br>
    <b>Nhà sản xuất: <i>{{producer}}</i></b><br>
    <b>Loại xe: <i>{{type}}</i></b><br>
    <b>Ngày đặt mua: <i>{{time}}</i></b><br>
    <b>Tổng tiền đơn hàng: <i>{{total}} VND</i></b><br>
</div>
<p>--------------------</p><p></p>
<p>Trân trọng</p>